<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MailSAVerTwee.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MailSAVerTwee.Properties.Settings>
            <setting name="Locaties" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>+H:\MH\projecten afgesloten\</string>
                        <string>+G:\MH\OFFERTES\offerte MH 2018\</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="EmailUitgaand" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>michel.debeijer</string>
                        <string>gerne.vandencorput</string>
                        <string>nelis.luijten</string>
                        <string>marcel.keus</string>
                        <string>toos.hoezen</string>
                        <string>henk.dehollander</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="LocatieStandaard" serializeAs="String">
                <value>+H:\MH\projecten actueel\</value>
            </setting>
            <setting name="LocatieAnders" serializeAs="String">
                <value>+C:\Windows\</value>
            </setting>
            <setting name="Extensie" serializeAs="String">
                <value>.msg</value>
            </setting>
            <setting name="FormSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="LaatstGekozenFolder" serializeAs="String">
                <value />
            </setting>
        </MailSAVerTwee.Properties.Settings>
    </userSettings>
</configuration>