<header >
    <h1 >
      MailSAVer
    </h1>
</header>
<main >
        <h2>Info:</h2>
    <p><b>Onderwerp:</b> {{subject}}</p>
    <p><b>Zender:</b> {{sender}}</p>
    <p><b>Ontvanger:</b> {{receiver}}</p>
    <p><b>In/Outcoming:</b> {{isIncoming}}</p>

    <p *ngIf="path"><b>Pad:</b> {{path}}</p>

    <h2>Acties:</h2>
    
    <ul>
        <li>
            <a href="#"  (click)="saveProject()">Save naar project</a>
        </li>
        <li>
                <a href="#" (click)="saveAnders()">Save anders</a>
            </li>

    </ul>
</main>